<div class="container">
    <div class="row">
        <div class="col">
            <a routerLink="/admin/manage/newcategory" class="btn btn-primary">
                New Category
            </a>
        </div>
        <div class="col">
            <a routerLink="/admin/manage/newproduct" class="btn btn-primary">
                New Product
            </a>
        </div>
    </div> <br>
    <p>
        <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search">
    </p>
    <table class="table table-striped" [svData]="fiteredProducts" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="name"
        svSortOrder="asc">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <!--Here sv.data is standard from package in datatable -->
        <tr *ngFor="let item of sv.data;index as i">
            <th style="color:dodgerblue">{{ i + 1 }}</th>
            <td>{{item.name}}</td>
            <td>{{item.price |currency}}</td>
            <td>
                <a [routerLink]="['/admin/manage/newproduct',item._id]">Update</a>
            </td>
            <td><a (click)="deletepro(item)">
                    <i style="cursor: pointer" class="far fa-trash-alt"></i>
                </a>
            </td>

        </tr>

        <tfoot>
            <tr>

                <td colspan="4">
                    <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10,15,25]"></sv-bootstrap-paginator>
                </td>
            </tr>
        </tfoot>
    </table>

</div>


<!--
    svData: any[] - array of data to display in table
    svRowsOnPage: number - number of rows should be displayed on page (default: 1000)
    svActivePage: number - page number (default: 1)
    svSortBy: any - sort by parameter
    svSortOrder: string - sort order parameter, "asc" or "desc"

-->